.container {
  margin: 18%;
}

#value {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% auto;
  flex-wrap: wrap;
  height: 30px;
  width: 40px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  text-align: center;
  caret-color: chartreuse;
}

#btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% auto;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  background: lightgray;
  cursor: pointer;
}

#myProgress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
  height: 40px;
  width: 270px;
}

progress::-webkit-progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: 2px;
}
.progress-yellow::-webkit-progress-value {
  background: yellow;
  border-radius: 3px;
  transition: width 0.5s;
}
.progress-red::-webkit-progress-value {
  background: red;
  border-radius: 3px;
  transition: width 0.5s;
}
.progress-green::-webkit-progress-value {
  /* background: green; */
  border-radius: 3px;
  transition: width 0.5s;
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44, green, pink);

  background-size: 35px 20px, 100% 100%, 100% 100%;
}
