.container {
  margin: 20%;
}

#value {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% auto;
  flex-wrap: wrap;
  height: 30px;
  width: 40px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

#btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% auto;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  background: lightgray;
  cursor: pointer;
}

#myProgress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
  height: 40px;
  width: 260px;
}

progress::-webkit-progress-value {
  -webkit-appearance: none;
  background: gray;
  border-radius: 3px;
}

progress::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 2px;
}
/* .progress-yellow::-webkit-progress-bar{
     background: yellow;
   }
   .progress-red::-webkit-progress-bar{
     background: red;
   }
   .progress-blue::-webkit-progress-bar{
     background: blue;
   }
   .progress-green::-webkit-progress-bar{
     background: green;
   } */
